<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="com.automation.listeners.Listener"/>
        <!--<listener class-name="com.automation.report.ExtentReportManager"/>-->
        <listener class-name="com.aventstack.extentreports.testng.listener.ExtentITestListenerClassAdapter"></listener>
    </listeners>
    <test verbose="2" preserve-order="true" name="HomePage Login">
        <classes>
            <class name="com.automation.steps.HomePageLogin">
                <methods>
                    <include name="homepageLogin"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="HomePage Assertions">
        <classes>
            <class name="com.automation.steps.HomePageAssertions">
                <methods>
                    <include name="homepageNavigation"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>